table#MembersListTable {
    margin-top: 63px;
}

table#MembersListTable .right-separator {
    margin-right: 4em;
}

table#MembersListTable * td {
    padding: 3px;
}

table#MembersListTable .extending * {
    width: 100%;
}

table#MembersListTable .bottom-padded,
div.contextList .bottom-padded {
    margin: 1.5px;
}

div.contextList .user-button {
    width: 100%;
    text-align: left;
}
