table#MembersListTable {
    margin-top: 63px;
}

table#MembersListTable .right-separator {
    margin-right: 4em;
}

table#MembersListTable * td {
    padding: 3px;
}

table#MembersListTable .extending * {
    width: 100%;
}

table#MembersListTable .bottom-padded {
    margin: 1.5px;
}
